
<form class="form" (submit)=create()>
  <md-form-field class="example-full-width">
    <input mdInput required placeholder="Enter Name of your form" name="FormTitle" [(ngModel)]="formToEdit.name">
  </md-form-field>
  <input type="submit" md-raised-button color="primary">
<!--  <nav class="navbar mb-0" type="button" data-toggle="collapse" data-target="#imagesetup" aria-controls="imagesetup" aria-expanded="false" aria-label="Toggle navigation">
    <h5>Add Image Area</h5>
  </nav>
    <div class="collapse show" id="imagesetup">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Enter 'Center text' for Image upload">
      </md-form-field>
      <md-form-field class="example-full-width">
        <input mdInput placeholder="How many images Users can Upload">
      </md-form-field>
      <div class="addbutton">     
        <button md-raised-button color="primary">Add Image</button>                   
      </div>
    </div>
    <nav class="navbar mb-0" type="button" data-toggle="collapse" data-target="#textsetup" aria-controls="textsetup" aria-expanded="false" aria-label="Toggle navigation">
      <h5>Add Textbox Field</h5>
    </nav>
    <div class="collapse" id="textsetup">
      <md-form-field class="example-full-width">
        <input mdInput placeholder="Texbox Label">
      </md-form-field>
      <h6>Type of Text Field</h6>
       <div class="radiobuttons">
       <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
          <md-radio-button class="example-radio-button col-6" *ngFor="let season of seasons" [value]="season">
            {{season}}
          </md-radio-button>
        </md-radio-group>
      </div>
      <h6>Size of Text Box on the Form</h6>
        <div class="radiobuttons">
          <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
            <md-radio-button class="example-radio-button col-6" *ngFor="let season1 of seasons1" [value]="season1">
              {{season1}}
            </md-radio-button>
          </md-radio-group>              
        </div>
        <div class="addbutton">
          <button md-raised-button color="primary">Add Textbox</button>     
        </div>
      </div>
      <nav class="navbar mb-0" type="button" data-toggle="collapse" data-target="#dropdownsetup" aria-controls="dropdownsetup" aria-expanded="false" aria-label="Toggle navigation">
        <h5>Add DropDown Field</h5>
      </nav>
        <div class="collapse" id="dropdownsetup">
          <md-form-field class="example-full-width">
            <input mdInput placeholder="DropDown Label">
          </md-form-field>    
          <h6>DropDown Values</h6>
          <div>
                                <ul class="d-flex flex-column dropdownvalues">
                                    <li class="d-flex flex-row justify-content-between col-6"><span>Value 1</span><i class="fa fa-trash-o"></i></li>
                                    <li class="d-flex flex-row justify-content-between col-6"><span>Value 2</span><i class="fa fa-trash-o"></i></li>
                                    <li class="d-flex flex-row justify-content-between col-6"><span>Value 3</span><i class="fa fa-trash-o"></i></li>
                                    <li class="d-flex flex-row justify-content-between col-6"><span>Value 4</span><i class="fa fa-trash-o"></i></li>
                                    <li class="d-flex flex-row justify-content-between col-6"><span>Value 5</span><i class="fa fa-trash-o"></i></li>
                                    <li class="d-flex flex-row justify-content-between col-6"><span>Value 6</span><i class="fa fa-trash-o"></i></li>
                                </ul>   
                            </div>

                            <div class="d-flex flex-row justify-content-between dropdownvalue">
                                <md-form-field class="dropdownaddtext">
                                    <input mdInput placeholder="Enter DropDown Value">    
                                </md-form-field>    
                                <button md-raised-button color="primary">Add Value</button> 
                            </div>
                            <h6>Type of DropDown Field</h6>
                            <div class="radiobuttons">
                                <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                                    <md-radio-button class="example-radio-button col-6" *ngFor="let season2 of seasons2" [value]="season2">
                                        {{season2}}
                                    </md-radio-button>
                                </md-radio-group>              
                            </div>          
                            <h6>Size of DropDown on the Form</h6>
                            <div class="radiobuttons">
                                <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
                                    <md-radio-button class="example-radio-button col-6" *ngFor="let season1 of seasons1" [value]="season1">
                                        {{season1}}
                                    </md-radio-button>
                                </md-radio-group>              
                            </div>          
                            <div class="addbutton"> 
                                <button md-raised-button color="primary">Add DropDown</button>
                            </div>
                        </div>-->
</form>

