                    <div>
                        <ol class="d-flex flex-column addeditemsgroup"> 
                            <li class="addeditems d-flex flex-row justify-content-between col-10">
                                <span>Upload Image</span>
                                <span>
                                <i class="fa fa-pencil-square-o"></i>
                                <i class="fa fa-trash-o"></i>
                                </span>
                            </li>
                            <li class="addeditems d-flex flex-row justify-content-between col-10">
                                <span>Year [Textbox]</span>
                                <span>
                                <i class="fa fa-pencil-square-o"></i>
                                <i class="fa fa-trash-o"></i>
                                </span>
                            </li>
                            <li class="addeditems d-flex flex-row justify-content-between col-10">
                                <span>Make [Texbox]</span>
                                <span>
                                <i class="fa fa-pencil-square-o"></i>
                                <i class="fa fa-trash-o"></i>
                                </span>
                            </li>
                            <li class="addeditems d-flex flex-row justify-content-between col-10">
                                <span>Type [DropDown]</span>
                                <span>
                                    <i class="fa fa-pencil-square-o"></i>
                                    <i class="fa fa-trash-o"></i>
                                </span>
                            </li>
                            <li class="addeditems d-flex flex-row justify-content-between col-10">
                                <span>Condition [textbox]</span>
                                <span>
                                <i class="fa fa-pencil-square-o"></i>
                                <i class="fa fa-trash-o"></i>
                                </span>
                            </li>
                        </ol>
                    </div>
