
<div class="d-flex fullscreen">
<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title></md-card-title>
    <md-card-subtitle></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="" alt="">
  <md-card-content>
	<form class="">
  		<md-form-field class="">
    		<input mdInput placeholder="E-Mail" type='email' value="">
  		</md-form-field>
		<md-form-field class="">
    		<input mdInput placeholder="Password" type= 'password' value="">
  		</md-form-field>
	</form>
  </md-card-content>
  <md-card-actions>
    <button md-button>Login</button>
    
  </md-card-actions>
</md-card>
</div>
