<div class="container-fluid">
  <div class="row d-flex flex-row justify-content-between header">
    <span class="button"><b>Cancel</b></span>
    <span><b>Add Vehicle Details</b></span>
    <span class="button"><b>Save</b></span>
  </div>
  <div class="row d-flex flex-column align-items-center imageuploader">
    <div class="d-flex flex-column">
      <span class="imageuploadarea">
        <div class="circle"></div>
        <div class="d-flex flex-row">
          <div class="rectangle1"></div>
          <div class="rectangle2"></div>
        </div>
      </span>
      <span>Upload pictures of your vehicle<br>(front, back, both sides, license plate)</span>
    </div>
    <div class="d-flex addimage">
      <span>
        <i class="fa fa-plus"></i>
      </span>
    </div>
  </div>
  <div class="row d-flex flex-row inputform">
    <div class="col-6">
      <input type="text" placeholder="Year" >
    </div>
    <div class="col-6">
      <input type="text" placeholder="Make" >
    </div>
    <div class="col-12">
      <input type="text" placeholder="Make" >
    </div>
    <div class="col-12">
      <input type="text" placeholder="Condition" >
    </div>
  </div>
</div>

