<div class="container-fluid no-gutters">
<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header"></li> 
        <li class="treeview">
          <a href="#">
            <i class="fa fa-wrench"></i> <span>Forms Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/WoodFramesBig" routerLinkActive="active"><i class="fa fa-circle-o"></i>Wood Frames - 11x14 </a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Customers</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a routerLink="/Members" routerLinkActive="active"><i class="fa fa-circle-o"></i>Registered Users</a></li>
          </ul>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

</div>