.main-sidebar{
    width: 230px;
    background: #1e282c;
    float: left;
    min-height: 100%;
}
.treeview a{
    color: #b8c7ce
}
.sidebar-menu{
    padding: 1rem;
}
.sidebar-menu>li:active{
    border-left-color: #3c8dbc;
    background-color: #1e282c;
    color: #fff;    
}